:root {
	--checkbox-border-color: rgb(102, 102, 102);
	--checkbox-border-hover-color: rgb(143, 143, 143);
}

body {
	font-family: 'Alumni Sans', sans-serif;
	margin: 0;
	background-color: #121313;
}

main {
	width: 60%;
	margin: 20px auto;
	box-sizing: border-box;
	flex-direction: column;
	gap: 10px;
	background: linear-gradient(rgb(34, 34, 34), rgb(77, 77, 77));
	border-radius: 20px;
	padding: 2% 0;
}

footer {
	position: absolute;
	bottom: 1%;
	left: 0;
	width: 100%;
	text-align: center;
	color: gray;
}

h1 {
	margin: 2px 0 8px 0;
	font-size: 42px;
	color: whitesmoke;
}

h2 {
	margin: 12px 0 8px 0;
	font-size: 18px;
	font-weight: normal;
	color: thistle;
}

p {
	margin: 0;
	line-height: 0.85;
}

.container {
	display: flex;
}

.wrap-container {
	display: flex;
	width: 80%;
	flex-wrap: wrap;

	label {
		width: max-content;
	}
}

.btn {
	font-size: 24px;
	font-family: 'Alumni Sans', sans-serif;
	padding: 0 30px;
	border-radius: 999px;
	border: none;
	border-top: 1px solid rgb(138, 138, 138);
	cursor: pointer;
	background: linear-gradient(rgb(80, 80, 80) 48%, rgb(65, 65, 65) 52%);
	color: rgb(231, 232, 238);
	margin: 5px 0 30px 0;

	&:disabled {
		opacity: 50%;
	}
}

input[type='checkbox'] {
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	margin: 6px;
	padding: 0;
	border: 2px solid var(--checkbox-border-color);
	border-radius: 3px;
	appearance: none;
	background-color: rgba(0, 0, 0, 0.438);
	outline: none;
	transition:
		border-color 0.1s,
		background-color 0.1s;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.411);

	&:checked {
		box-shadow:
			2px 2px 2px rgba(0, 0, 0, 0.411),
			0px 0px 2px 2px rgba(0, 0, 0, 0.726) inset;
		background-color: rgb(182, 143, 15);
	}

	&:checked::before {
		content: '';
		text-align: center;
		width: 10px;
		height: 10px;
		position: relative;
		left: 50%;
		margin-left: -5px;
		display: inline-block;
		transition: box-shadow 0.1s;
		box-shadow:
			0px 0px 4px 1.25px rgb(250, 205, 59) inset,
			0px 0px 1.75px 1.25px rgb(250, 205, 59);
	}
}

.checkbox-label {
	display: flex;
	gap: 5px;
}

.roulette-content-container {
	width: 100%;
	padding: 0 35px;
	box-sizing: border-box;
	gap: 100px;
}

#roulette-checkbox-container {
	width: fit-content;
	gap: 20px;
	font-size: 24px;
	color: whitesmoke;
	flex-direction: column;
}

#roulette-random-picker {
	flex-direction: column;
	gap: 20px;
	min-width: 400px;
	max-width: 1000px;
	flex-grow: 1;
}

.roulette-banner {
	width: 100%;
	height: 60px;
	padding-left: 10px;
	background-color: #c6c5b9;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	.mask {
		height: 100%;
		width: 100%;
		max-width: 500px;
		padding: 0;
		margin: 0;
		background-size: cover;
		mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), #fff 25%);
	}

	#expert-banner-img {
		background-image: url('./assets/banners/expert.png');
	}
	#level-cap-banner-img {
		background-image: url('./assets/banners/level-cap.png');
	}
	#high-level-banner-img {
		background-image: url('./assets/banners/high-level.png');
	}
	#leveling-banner-img {
		background-image: url('./assets/banners/leveling.png');
	}
	#trial-banner-img {
		background-image: url('./assets/banners/trials.png');
	}
	#ms-banner-img {
		background-image: url('./assets/banners/main-scenario.png');
	}
	#gh-banner-img {
		background-image: url('./assets/banners/guildhests.png');
	}
	#alliance-banner-img {
		background-image: url('./assets/banners/alliance-raids.png');
	}
	#normal-raids-banner-img {
		background-image: url('./assets/banners/normal-raids.png');
	}
	#frontline-banner-img {
		background-image: url('./assets/banners/frontline.png');
	}

	p {
		width: 150px;
		height: auto;
		font-size: 32px;
	}
}

#selector {
	position: absolute;
	visibility: hidden;
	transform: translateY(-2px);
	transition: top 0.05s ease-in;
}

.highlight {
	box-shadow: 0px 0 25px white;
}

@media (hover: hover) {
	input[type='checkbox']:hover {
		cursor: pointer;
		border-color: var(--checkbox-border-hover-color);
		&:checked {
			background-color: rgb(212, 169, 26);
		}

		&:checked::before {
			box-shadow:
				0px 0px 4px 1.25px rgb(250, 231, 59) inset,
				0px 0px 1.75px 1.25px rgb(250, 231, 59);
		}
	}
}

/*#region Helper Classes*/
.jc-center {
	justify-content: center;
}

.jc-start {
	justify-content: start;
}

.jc-space-btw {
	justify-content: space-between;
}

.jc-space-around {
	justify-content: space-around;
}

.jc-space-even {
	justify-content: space-evenly;
}
.ai-center {
	align-items: center;
}

.ai-start {
	align-items: start;
}

.ai-end {
	align-items: end;
}

.ai-space-btw {
	align-items: space-between;
}

.ai-space-around {
	align-items: space-around;
}

.ai-space-even {
	align-items: space-evenly;
}
/*#endregion */
