body {
	font-family: 'Alumni Sans', sans-serif;
	margin: 0;
	background-color: #242525;
}

main {
	width: 60%;
	margin: 20px auto;
	box-sizing: border-box;
	flex-direction: column;
	gap: 20px;
	background-color: #3a3a3a;
	border-radius: 20px;
	padding: 2% 0;
}

h1 {
	margin: 0;
	color: whitesmoke;
}

.container {
	display: flex;
}

.wrap-container {
	display: flex;
	width: 80%;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	label {
		width: max-content;
	}
}

#roll-btn {
	font-size: 24px;
	font-family: 'Alumni Sans', sans-serif;
	padding: 0 30px;
	border-radius: 999px;
	border: none;
	border-top: 1px solid rgb(138, 138, 138);
	cursor: pointer;
	background: linear-gradient(rgb(80, 80, 80) 48%, rgb(65, 65, 65) 52%);
	color: rgb(231, 232, 238);
	margin: 20px 0;

	&:disabled {
		opacity: 50%;
	}
}

#roulette-checkbox-container {
	gap: 20px;
	font-size: 20px;
	color: whitesmoke;
}

#roulette-random-picker {
	flex-direction: column;
	gap: 20px;
	width: 700px;
}

.highlight {
	box-shadow: 0px 0 25px white;
}

.roulette-banner {
	width: 100%;
	height: 60px;
	padding-left: 10px;
	background-color: #c6c5b9;
	justify-content: space-between;
	align-items: center;
	.mask {
		height: 100%;
		width: 100%;
		max-width: 500px;
		padding: 0;
		margin: 0;
		background-size: cover;
		mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), #fff 25%);
	}

	#expert-banner-img {
		background-image: url('./assets/banners/expert.png');
	}
	#level-cap-banner-img {
		background-image: url('./assets/banners/level-cap.png');
	}
	#high-level-banner-img {
		background-image: url('./assets/banners/high-level.png');
	}
	#leveling-banner-img {
		background-image: url('./assets/banners/leveling.png');
	}
	#trial-banner-img {
		background-image: url('./assets/banners/trials.png');
	}
	#ms-banner-img {
		background-image: url('./assets/banners/main-scenario.png');
	}
	#gh-banner-img {
		background-image: url('./assets/banners/guildhests.png');
	}
	#alliance-banner-img {
		background-image: url('./assets/banners/alliance-raids.png');
	}
	#normal-raids-banner-img {
		background-image: url('./assets/banners/normal-raids.png');
	}
	#frontline-banner-img {
		background-image: url('./assets/banners/frontline.png');
	}

	p {
		width: 150px;
		height: auto;
		font-size: 32px;
	}
}

#selector {
	position: absolute;
	visibility: hidden;
	transform: translateY(-2px);
	transition: top 0.05s ease-in;
}

footer {
	position: absolute;
	bottom: 1%;
	left: 0;
	width: 100%;
	text-align: center;
	color: gray;
}

/*#region Helper Classes*/
.jc-center {
	justify-content: center;
}

.jc-start {
	justify-content: start;
}

.jc-space-btw {
	justify-content: space-between;
}

.jc-space-around {
	justify-content: space-around;
}

.jc-space-even {
	justify-content: space-evenly;
}
.ai-center {
	align-items: center;
}

.ai-start {
	align-items: start;
}

.ai-space-btw {
	align-items: space-between;
}

.ai-space-around {
	align-items: space-around;
}

.ai-space-even {
	align-items: space-evenly;
}
/*#endregion */
